/* admin_style.css */
body {
    font-family: 'Prompt', sans-serif;
    overflow-x: hidden;
    background-color: #f8f9fa;
}

#wrapper {
    display: flex;
    transition: all 0.4s ease;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    margin-left: -250px;
    transition: margin .25s ease-out;
    display: flex;
    flex-direction: column;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.sidebar-heading {
    padding: 1rem 1.25rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid #475569;
}

.list-group-item {
    border: none;
    padding: 1rem 1.25rem;
}
.list-group-item.active {
    background-color: #4e73df !important;
    border: none;
}
.list-group-item:hover {
    background-color: #334155;
}

#page-content-wrapper {
    flex-grow: 1;
    width: 100%;
    transition: all 0.4s ease;
}

#wrapper.toggled #page-content-wrapper {
    padding-left: 250px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }
}

.card {
    border: none;
    border-radius: 0.75rem;
}

.table-responsive {
    border-radius: 0.5rem;
    overflow: hidden;
}

.table thead {
    background-color: #4e73df;
    color: white;
}